<table style="border: 1px solid black;">
  <tr>
    <th>name</th>
    <th>roll</th>
  </tr>
  <tr>
    <td>amit</td>
    <td>1</td>
  </tr>
  <tr>
    <td>anish</td>
    <td>2</td>
  </tr>
</table>
<br>
<form>
  <input type="search">
</form>
<br>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uol-Txu6AOY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="amit" >
  this is amit
</div>
<div class="anish">
 this is Anish
</div>



<router-outlet></router-outlet>
